.valores {
  margin-top: 3rem;
  text-align: center;
}

.valores h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--cor-texto);
}

.valores-cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 2px solid #ffe0a3;
  border-radius: 15px;
  box-shadow: var(--sombra);
  width: 280px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.icone {
  font-size: 2rem;
  color: var(--cor-primaria);
  margin-bottom: 0.5rem;
}

.card h3 {
  margin: 0.5rem 0;
  color: var(--cor-texto);
}
