:root {
  --cor-fundo: #fff8ea;
  --cor-primaria: #ff9900;
  --cor-texto: #552200;
  --sombra: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
